.logged-in {
  align-items: center;
  text-align: center;
  background-color: honeydew;
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 15%;
  opacity: 0.8;
}
.logged-in p {
  padding-top: 0.2em;
  font-size: 1.5em;
}
.logged-in-p {
  padding-bottom: 0.5em;
}

.logged-in img {
  width: 25px;
  height: 25px;
}

.main {
  display: inline-block;
  width: 83.3%;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transform: scale(1.34);
  -ms-transform: scale(1.34);
  transform: scale(1.34);
  margin-top: 120px;
}

.descriptions-one {
  margin-right: 10%;
  margin-top: 100%;
  width: 500px;
  position: relative;
  align-items: center;
  text-align: center;
  background-color: honeydew;
  font-style: italic;
  font-weight: bold;
  opacity: 0.8;
  padding: 10px;
}
.descriptions-two {
  position: relative;
  align-items: center;
  text-align: center;
  background-color: honeydew;
  margin-left: 105%;
  padding: 10px;
  opacity: 0.8;
  width: 300px;
  font-style: italic;
  font-weight: bold;
}
.descriptions-three {
  position: relative;
  align-items: center;
  text-align: center;
  background-color: honeydew;
  margin-left: 36%;
  margin-right: 10%;
  margin-top: -20%;
  opacity: 0.8;
  font-style: italic;
  font-weight: bold;
  width: 400px;
  padding: 10px;
}
.descriptions-four {
  position: relative;
  align-items: center;
  text-align: center;
  background-color: honeydew;
  margin-right: 10%;
  margin-top: -40%;
  opacity: 0.8;
  font-style: italic;
  font-weight: bold;
  width: 500px;
  padding: 10px;
}
.descriptions-five {
  position: relative;
  align-items: center;
  text-align: center;
  background-color: honeydew;
  margin-left: 50%;
  margin-right: 10%;
  margin-top: -50%;
  opacity: 0.8;
  font-style: italic;
  font-weight: bold;
  width: 500px;
  padding: 10px;
}

.slider {
  margin-left: 5.3em;
}
